html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  background-color: var(--background-black);
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.router {
  flex: 1;
  max-width: 100%;
  background-color: black;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
